
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Sacramento', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
}

.down-heading {
  font-family: 'Montserrat-Bold';
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color:#CEE5D0;
  color: #17D7A0;
  margin-bottom: -70px;
}

.white-section {
  background-color: #F9F7F7;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color:#CEE5D0;
  color: #34BE82;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  color: #212121;
}

.feature-box {
  padding: 4.5%;
}

.svg-inline {
  height: 64px;
  width: 64px;
  color: #79d1ab;
  margin-bottom: 1rem;
}

.svg-inline:hover {
  color: #779c8a;
}

/* Testimonial Section */

#testimonials {
  background-color: #CEE5D0;
}

.testimonial-text {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  color: rgb(66, 54, 54);
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.img-mountain {
  width: 100%;
  max-width: 1000px;
  height: auto;
  top: 100px;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
  color:#17D7A0;
}


